.background {
  background-image: url("../../imgs/ocean-background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.container {
  margin-top: 50px;
  margin-bottom: 50px;
}

.projects-title {
  display: flex;
  justify-content: center;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 12px;
  font-size: 100px;
  color: var(--foam);
  font-weight: 100px;
}

span {
  transition: all 1.5s;
  cursor: pointer;
}

.m:hover {
  color: var(--yellow);
  transition: all 0.5s;
}

.y:hover {
  color: var(--yellow);
  transition: all 0.3s;
}

.p:hover {
  color: var(--yellow);
  transition: all 0.3s;
}

.r:hover {
  color: var(--yellow);
  transition: all 0.3s;
}

.o:hover {
  color: var(--yellow);
  transition: all 0.3s;
}

.j:hover {
  color: var(--yellow);
  transition: all 0.3s;
}

.e:hover {
  color: var(--yellow);
  transition: all 0.3s;
}

.c:hover {
  color: var(--yellow);
  transition: all 0.3s;
}

.t:hover {
  color: var(--yellow);
  transition: all 0.3s;
}

.s:hover {
  color: var(--yellow);
  transition: all 0.3s;
}

.t:hover {
  color: var(--yellow);
  transition: all 0.3s;
}

.card {
  border-radius: 7px;
}

img {
  border-radius: 7px;
  opacity: 1;
  width: 100%;
  height: auto;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

figure:hover .middle {
  opacity: 0.9;
}

.text {
  background-color: var(--light-blue);
  color: var(--foam);
  font-size: 16px;
  padding: 16px 32px;
}
