
.container {
    margin-top: 50px;
    margin-bottom: 50px;
}
    
  .name {
      display: flex;
      justify-content: center;
      font-family: 'Poppins', sans-serif;
      letter-spacing: 10px;
      font-size: 100px;
      color: var(--foam)
  }

  .profile-pic {
      display: flex;
      justify-content: center;
      align-items: center;
      
  }

  .img {
    border: var(--deep-blue);
    border-style: solid;
    border-width: 7px;
    border-radius: 5px;
  }


  .about-me {
      border: var(--deep-blue);
      border-style: solid;
      border-width: 7px;
      border-radius: 5px;
      background-color: var(--foam);
  }


