header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    font-size: 40px;
    color: var(--slime-green);
   
}


.nav-links {
    list-style: none;

}

.nav-links .link { 
    display: inline-block;
    padding: 10px;
    font-weight: bold;
    
}


.nav-links .link  {
    transition: all 0.3s ;  
}

.nav-links .link:hover {
    color: var(--slime-green);
}
