header {
    padding: 20px;
    font-size: 27px;
    font-family: 'Poppins', sans-serif;
    
}

ul {
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

.link {
    transition: all 0.3s ;  
    color: var(--foam);

    
}

.link:hover {
    color: var(--yellow);
  }

  

