* {
    box-sizing: border-box;
    margin: 0;
    padding: 0p;
    
}

:root {
    --deep-blue: #002535;
    --ocean-blue: #003851;
    --teal-blue: #22646E;
    --gray: #BFD2D9;
    --light-blue: #3B89AC;
    --foam: #F7FCFE;
    
  }
  
  